.map-component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("./images/wildfire.jpg");
  background-size: cover;
}

.map-container {
	width: 50%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.arcgis-map {
	display: flex;
	padding: 0;
	height: 400px;
	width: 400px;
}

.form-text {
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	color: white;
}

.form-input {
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	color: white;
}

.execute {
	margin-bottom: 5%;
	width: 100%;
	font-size: 30px;
	color: white;
}

.execute:hover {
	cursor: pointer;
	color: red;
}