.map-component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("./images/wildfire.jpg");
  background-size: cover;
  padding: 5%;
}

.particles {
	position: absolute;
	width: 100%;
	height: 100%;
}

.map-container {
	margin: 5%;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.arcgis-map {
	display: flex;
	padding: 0;
	height: 400px;
	width: 400px;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
	width: 100%;
}

.message-text {
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	color: white;
}

.search-container {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	color: blue;
}